* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #0e0f14;
    color: white;
}


.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 100px auto; 
    padding: 20px;
    background-color: #1a1b24;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: white;
}

input {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 15px;
    background-color: #172633;
    border: 1px solid #304D69;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
}

input::placeholder {
    color: #7d7e8c;
}

input:focus {
    outline: 2px solid #3b4cb8;
}

.switchText {
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    color: #0D7DF2;
    cursor: pointer;
    text-decoration: underline; 
}

.switchText:hover {
    color: #0453a7; 
}

button {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 10px auto;
    border: none;
    border-radius: 8px;
    background-color: #0D7DF2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

button:hover {
    background-color: #0453a7;
}

button:active {
    background-color: #033972;
}
