.searchBar {
    display: flex;
    width: 480px;
    min-width: 160px;
    max-width: 480px;
    flex-direction: row;
    align-items: center;
    background: #172633;
    border-radius: 12px;
    padding: 8px 10px;
    border: 1px solid #304D69;
}

.icon {
    height: 20px;
}

.searchInput {
    background: #172633;
    border: none;
    margin: 8px 8px;
    width: 100%;
    outline: none;
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}