.LeaderboardTableContainer {
    max-width: 800px;
    margin: 25px auto;
    overflow: hidden;
    border: 4px solid #31485e;
    border-radius: 6px;
}
.LeaderboardTable {
    border-collapse: collapse;
    font-size: 0.9em;
    width:100%;
}

.LeaderboardTable thead tr {
    background-color: #182533;
    text-align: left;
    border-bottom: 2px solid #31485e;
}

.LeaderboardTable tbody tr {
    text-align: left; /* Center text in table rows */
    border-bottom: 1px solid #31485e;
}

.LeaderboardTable tbody tr:last-child{
    border-bottom: none;
}

.LeaderboardTable th,
.LeaderboardTable td {
    padding: 12px 15px;
}

